/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 3px 3px;
}
/* Home */
#home{
    height: 280px;
    padding: 0 38px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}
/* Services Section */
#services{
    flex-direction: column;
}
#services .box{
    padding: 18px;
    border-radius: 15px;
    background: #f2f2f2;
}
#services .box img{
    height: 90px;
}
#services-container #serviceProvider{
    padding-top: 40px;
}
/* Clients Section */

#clients{
    flex-wrap: wrap;
}
#clients img{
    height: 66px;
    padding: 5px;
}

/* Contact Us Section */
#contact-box form{
    width: 80%;
}
/* Utility Classes */

.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}